@model Sparrow.Web.Models.TestViewModel
@{
    ViewBag.Title = @Model.Name;
}


<form action="@Url.Action("SaveTest", "Default", @Model.TestIdentity)" method="post" style="height: 100%">
    <div style="height: 100%">
        <textarea style="margin: 0px; width: 100%; height: 100%; padding: 3px; max-width: 100%; min-height: 200px; overflow: scroll;"
                  id="testEditBox">@Model.RawContents</textarea>
        </div>
    <button type="submit">Save test</button>
</form>
