@model Sparrow.Web.Models.TestViewModel
@{
    ViewBag.Title = @Model.Name;
}

<table>
    <tr>
        <td>
            @Model.Name
        </td>
    </tr>
    <tr>
        <td>
            Test View
        </td>
    </tr>
</table>