@using Sparrow.Web.Models
@model Sparrow.Web.Models.TestViewModel
@{
    ViewBag.Title = @Model.Name;
}

<table>
    @foreach (var item in TestDataParser.GetTestSteps(@Model.RawContents))
    {
        <tr style="min-height: 22px;">
            <td>@Html.Raw(@item.Html)</td>
        </tr>
    }

</table>
